
{% extends 'base.html' %}
{% block title %}Home - Health Nexus{% endblock %}

{% block content %}
{% load static %}
<div class="container">
        <div class="main-content">
            <center><div class="text-content">
                <h2>How It Works?</h2>
            <h3> Step 1: Sign Up</h3> 
            <p>Create an account to get started. 
                It’s quick and easy, and you’ll gain 
                access to all our interactive content.</p>

             <h3>Step 2: Explore Educational Content</h3>  
              <p>Dive into our interactive quizzes and concise video courses designed to educate and engage
                you on various aspects of reproductive health.</p>

              <h3>Step 3: Participate in Assessments</h3>
              <p>Before and after engaging with our content, take part in our surveys to help us
                understand the impact on your knowledge, attitudes, and behaviors.</p> 

                <h3>Step 4: Provide Feedback</h3>
              <p>Your feedback is crucial for us. Participate in user experience interviews
                 to share your thoughts and help us improve the application.</p> 

                 <h3>Step 5: Stay Updated</h3>
                 <p>We continuously update our educational content to ensure it remains relevant and accurate.
                    Check back regularly for new materials and updates.</p> 
               <p></p>
            </div>  </center>
        </div>
</div
<br>

{% endblock %}
