
{% extends 'base.html' %}
{% block title %}Home - Health Nexus{% endblock %}

{% block content %}
{% load static %}
<div class="container">
        <div class="main-content">
            <center><div class="text-content">
                <h2>Terms of Service</h2>
            <br>
            <br>

            <p>By accessing and using the YouthEmpower Health Nexus web application, 
                you agree to comply with and be bound by the following terms and conditions. 
                The content provided is for educational purposes only and should not be considered as medical advice.
                 We reserve the right to modify or discontinue the service at any time without notice.
                  Users are responsible for maintaining the confidentiality of their account information 
                  and for all activities that occur under their account.
                 Violation of these terms may result in termination of access to the application.</p>

            </div>  </center>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
</div
<br>

{% endblock %}
