
{% extends 'base.html' %}
{% block title %}Home - Health Nexus{% endblock %}

{% block content %}
{% load static %}
<div class="container">
        <div class="main-content">
            <center><div class="text-content">
                <h2>Privacy Policy</h2>
            <p>At YouthEmpower Health Nexus, we are committed to protecting your privacy. 
                We collect and use your personal information solely for the purpose of enhancing your experience with
                 our application. Your data is anonymized and securely stored, ensuring confidentiality and privacy.
                  We do not share your information with third parties without your consent, except as required by law. 
                  By using our services, 
                you agree to the collection and use of information in accordance with this policy.</p>

            </div>  </center>
        </div>
</div
<br>

{% endblock %}
