
{% extends 'base.html' %}
{% block title %}Home - Health Nexus{% endblock %}

{% block content %}
{% load static %}
<div class="container">
        <div class="main-content">
            <center><div class="text-content">
                <h2>Learn About Us</h2>
            <h3> Welcome to YouthEmpower Health Nexus</h3> 
            <p>The "YouthEmpower Health Nexus" is an innovative web application dedicated to 
            enhancing reproductive health education for teenagers and young adults.
             Our mission is to bridge the gap in reproductive health knowledge,
              empowering young people to make informed decisions that lead to healthier lives.</p>

             <h3>Our Team</h3> 
             <p>We are a group of IT graduates passionate about making a positive impact on
                 the Rwandan community. By developing this platform, we aim to contribute
                  to public health while improving our web development skills.
                   This project also provides us with employment opportunities,
                    allowing us to manage and maintain the application.</p> 

             <h3>Institutional Support</h3> 
              <p>This initiative aligns with the goals of the University of Rwanda 
              - College of Science and Technology (UR_CST) by enhancing public health outcomes 
              and promoting educational engagement. 
              Our project supports comprehensive health literacy and fosters 
              institutional partnerships, reflecting UR_CST's commitment to community health
               and education advancement.</p>

              <h3>Public Benefit</h3>
              <p>By providing accessible and engaging reproductive health education, 
                we aim to reduce the rates of STIs, unintended pregnancies,
                 and associated health risks. Our platform empowers young individuals
                  with the knowledge and tools they need for a healthier future, 
                  benefiting the wider community and public health advocates.</p> 
                
               <p></p>
            </div>  </center>
        </div>
</div
<br>

{% endblock %}
