{% extends 'auth-base.html' %}
{% block title %}Home - Health Nexus{% endblock %}

{% block content %}
{% load static %}
<div class="login-form">
    <div class="logo">
        <h1>Health<span>Nexus</span></h1>
    </div>
    <h2>Reset Your Password</h2>
    <p>Reset Your Password to access your HealthNexus account</p>
    <form  method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="********">
            <button type="button" class="toggle-password"></button>
        </div>
        <div class="input-group">
            <label for="password_confirm">Confirm Password</label>
            <input type="password" id="password" name="password_confirm" placeholder="********">
            <button type="button" class="toggle-password"></button>
        </div>
        <button type="submit" class="login-btn">Reset Password</button>
    </form>
</div>
<div class="illustration">
    <img src="{% static 'images/home.png' %}" alt="Illustration">
</div>

    {% endblock %}
