{% extends 'base.html' %}
{% block title %}Home - Health Nexus{% endblock %}

{% block content %}
{% load static %}
    <div class="container">
            <h2>Available Quizzes</h2>
            <div class="quiz-cards">
    
                {% for quiz in quizzes%}
                <div class="card">
                    {% if quiz.image %}
                    <img src="{{ quiz.image.url }}" alt="{{ quiz.title }}">
                    {% endif %}
                    <div class="card-content">
                        <h3>{{ quiz.title }}</h3>
                        <p>{{ quiz.description }}</p>
                        <a href="{% url 'quiz_detail' quiz.pk %}">Take Quiz</a>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}